body{
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    background: linear-gradient(
        135deg,
        purple 20%,
        orange 80%

    );
}

.menu{
    background-color: lightgray;
    width: 300px;
    opacity: .3;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    cursor: pointer;
}

.menu p{
    margin: 0 10px;
    display: flex;
    align-items: center;
}

.menu .fa-solid{
    transition: transform .3s;
}

.social-lists{
    background-color: lightgray;
    padding: 10px;
    width: 300px;
    opacity: .3;
    border-radius: 5px;
    list-style-type: none;
}

.social-lists li{
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: padding .2s linear;
}

.social-lists li:hover{
    background-color: darkgray;
    border-radius: 5px;
    padding-left: 10px;
}

.fa-brands{
    margin:0 10px;
}

.rotate .fa-solid{
    transform: rotate(180deg);
}

.hide{
    visibility: hidden;
}