body{
    margin: 0;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h1{
    font-size: 100px;
    color: aliceblue;
    letter-spacing: 4px;
    backdrop-filter: brightness(.5);

}

.btn{
    background-color: black;
    color: white;
    padding: 20px 40px;
    font-size: 25px;
    border: solid 4px;
    cursor: pointer;
    transition: background-color 1s;
    white-space: nowrap;
}

.btn:hover{
    background-color: white;
    color: black;
    border: solid black 4px;
}

.split{
    width: 50%;
    height: 100%;
    top: 0;
    overflow: hidden;
}

.split.left{
    position: absolute;
    left: 0;
    background-color: palegoldenrod;
    background: url("https://assets.swappie.com/cdn-cgi/image/width=600,height=600,fit=contain,format=auto/swappie-iphone-13-red-back.png?v=5");
    background-size: cover;
}

.split.right{
    position: absolute;
    right: 0;
    background-color: palegreen;
    background: url("https://media.pakprice.pk/120/YE2RmsF0eIDz9DM5sv0Ulkxsp61XijZKSx3j2IxR.jpeg");
    background-size: cover;
}

.active-left .left{
    width: 75%;
}

.active-left .right{
    width: 25%;
}

.active-right .left{
    width: 25%;
}

.active-right .right{
    width: 75%;
}

.left , .right{
    transition: width 2s ease-in-out;
}