body{
    margin: 0;
    display: flex;
    height: 100vh;
    background: url("https://media.istockphoto.com/photos/abstract-lamplight-background-picture-id972723708?k=20&m=972723708&s=612x612&w=0&h=oaAk0RIZqfD3rXbbMbAG30bLT7neD5gwuMJ1ZkTlIKI=");
    padding: 20px;
    justify-content: center;
    align-items: center;
    background-size: cover;
    font-family: cursive;
    color: whitesmoke;
    font-size: 90%;   
}
.container{
    background-color: red;
    padding: 20px;
    border-radius: 30px;
    box-shadow: 0 2px 4px 2px rgba(0, 0 , 0, 0.7);
    width: 400px;
    margin: 5px;
}
.textarea{
    resize: none;
    width: 100%;
    padding: 20px;
    height: 100px;
    box-sizing: border-box;
    font-size: 18px;
    font-family: sans-serif;
    border-radius: 10px;
    border: solid 2px blue;
    color: blue;
   
}
.textarea::placeholder{
    color: blue;
    font-size: 20px;   
}
.counter-container{
    display: flex;
    padding: 0 5px;
    justify-content: space-between;
}
.counter-container p{
    font-size: 20px;
}
.total-counter{
    color: greenyellow;
}
.remaining{
    color:skyblue;
}

